@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@import "./scss/vars";
@import "./scss/core";
@import "./scss/typography";
@import "./scss//helpers";
@import "./scss/components/index";

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;

  &__wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    max-height: 2.5rem;
    fill: "#34313D";
  }

  &__hamburger {
    position: relative;
    width: 30px;

    &__bar,
    &__bar:before,
    &__bar:after {
      display: block;
      background-color: $neutral-clr-light;
      position: absolute;
      height: 4px;
      width: 100%;
      transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
      border-radius: 2px;
    }

    &__bar:before {
      content: "";
      margin-top: -8px;
    }

    &__bar:after {
      content: "";
      margin-top: 8px;
    }
  }

  &__menu {
    display: none;
    position: absolute;
    top: 6rem;
    left: 1rem;
    right: 1rem;
    flex-direction: column;
    text-align: center;
    padding: 2rem 1.5rem;
    background-color: $primary-clr-dark;
    border-radius: 10px;

    &__item {
      display: inline-block;
      width: 100%;
      padding: 1rem 0.25rem;
      color: #fff;

      &--separated {
        position: relative;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0rem;
          right: 0rem;
          height: 1px;
          background-color: $neutral-clr;
          opacity: 50%;
        }
      }
    }

    &__btn {
      align-self: center;
    }
  }
}

.hero {
  margin-bottom: 3rem;

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    gap: 1.5rem;
    text-align: center;
  }

  &__bg-image {
    min-height: 20rem;
    margin-right: -1rem;
    background-image: url("./assets/illustration-working.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 50px;
  }

  &__btn {
    align-self: center;
  }
}

.url-shortener {
  position: relative;
  padding: 0 1rem;
  margin-bottom: -4rem;

  &__wrapper {
    padding: 1.5rem;
    background-color: $primary-clr-dark;
    background-image: url("./assets/bg-boost-mobile.svg");
    background-repeat: no-repeat;
    border-radius: 5px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__label {
  }

  &__inp {
    width: 100%;
    padding: 1rem 1.5rem;
    border: 0;
    outline: 0;
    border-radius: 5px;
    font-size: $primary-fs;
    font-weight: $font-bolder;
  }

  &__btn {
  }
}

.cards {
  padding: 8rem 1rem 4rem;
  background-color: lighten($neutral-clr, 20%);

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }

  &__header-section {
    text-align: center;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;

  &__img {
    width: 5rem;
    aspect-ratio: 1 / 1;
    margin-top: -4.5rem;
    background-color: $neutral-clr-darker;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;

    &--brand {
      background-image: url("./assets/icon-brand-recognition.svg");
      background-position: 18px 16px;
    }

    &--records {
      background-image: url("./assets/icon-detailed-records.svg");
      background-position: 20px 19px;
    }

    &--customizable {
      background-image: url("./assets/icon-fully-customizable.svg");
      background-position: 16px 17px;
    }
  }

  &__header {
  }
}

.links-boost {
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 2rem;
    gap: 1rem;
    background-color: $primary-clr-dark;
    background-image: url("./assets/bg-boost-mobile.svg");
    background-repeat: no-repeat;
    background-position: 0 30%;
    background-size: 100% 200%;
  }

  &__header {
    text-align: center;
    color: #fff;
  }
}

.footer {
  background-color: $neutral-clr-dark;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    margin-bottom: 3rem;
    gap: 2.5rem;
    text-align: center;
  }

  &__logo {
    max-width: 7.5rem;
    max-height: 2.5rem;
    fill: #fff;
  }

  &__list-wrapper {
  }

  &__list-label {
    display: block;
    margin-bottom: 1.5rem;
    font-weight: $font-bolder;
    color: #fff;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: $neutral-clr;
  }

  &__social-media {
    display: grid;
    grid-template-columns: repeat(4, 2rem);
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;

    &__link {
      min-height: 2rem;
      background-repeat: no-repeat;
      background-size: contain;

      &--facebook {
        background-image: url("./assets/icon-facebook.svg");
      }

      &--twitter {
        background-image: url("./assets/icon-twitter.svg");
        background-position-y: 3px;
      }

      &--pinterest {
        background-image: url("./assets/icon-pinterest.svg");
      }

      &--instagram {
        background-image: url("./assets/icon-instagram.svg");
      }
    }
  }
}

/* #menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
} */
