*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  min-height: 100vh;
  font-family: $font-family;
  font-size: $primary-fs;
  line-height: 1.5;
}
