//COLORS
//primary colors
$primary-clr-light: #2acfcf;
$primary-clr-dark: #3a3054;

//secondary colors
$secondary-clr: #f46161;

//neutral colors
$neutral-clr: #bfbfbf;
$neutral-clr-dark: #35313e;
$neutral-clr-darker: #222026;
$neutral-clr-light: #9d9aa7;

//FONTS
$primary-fs: 1.125rem;
$font-family: "Poppins", sans-serif;
$font-normal: 500;
$font-bolder: 700;
